 {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: black;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.brand-logo {
  margin: 5px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.navbar-links {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    /*display: none; */
  }
}

/*section1*/
.section1 {
  background-color: #ff4632;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.text {
  bottom: 3rem;
  max-width: 40%;
  flex-grow: 1;
  object-fit: contain;
}

.header1 {
  font-size: 3em;
}

.description {
  font-size: 1.5em;
  font-weight: 200;
}

.button {
  border-radius: 15rem;
  padding: 1rem;
  color: white;
  background-color: black;
}
.button:hover {
  border-radius: 15rem;
  padding: 1rem;
  color: black;
  background-color: white;
}

.balloonimg {
  padding: 3rem;
}

/*section2*/
.section2 {
  background-color: #cb1582;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-box{
  background-color: black;
  margin: 5rem;
  width: 100px;
  height: 100px;
  
}

.text2{
  display: flex;


/*.picture {
  display: flex;
  padding: 4rem;
}
.top-box {
  background-color: rgb(45, 216, 214);
  color: rgb(218, 20, 122);
  max-width: 40vh;
  max-height: 40vh;
  position: absolute;
}

.bottom-box {
  background-color: black;
  max-width: 60vh;
  max-height: 30vh;
  position: relative;
}
